.displayHome {
  min-width: 96vw;
  min-height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1em;
}
.flexChild {
  border: solid 4px #28de58;
  flex-basis: 28%;
  max-width: 28%;
  height: 5em;
  text-align: center;
  padding-top: 4%;
  margin-top: 10%;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
}
.flexChild:hover {
  background: lightgoldenrodyellow;
  scale: 1.1;
}
