.displayHome {
  width: 98vh;
  min-height: 85vh;
  min-width: 96vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.flexChild {
  border: solid 4px #28de58;
  height: 5em;
  width: 28%;
  text-align: center;
  padding-top: 4%;
  margin-top: 10%;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
}
.flexChild:hover {
  background: lightgoldenrodyellow;
  scale: 1.1;
}
