.signUpHeading {
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
  margin-top: 10%;
}
.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}
input {
  width: 19%;
  margin-bottom: 27px;
  border-radius: 5px;
  text-align: center;
  height: 40px;
  border: solid 2px green;
  cursor : pointer;
}
.accountExists {
  cursor: pointer;
  color: #2756f2;
  margin-top: 1%;
}
.errorMsg {
  text-align: center;
  padding-top: 15px;
  color: red;
}
.successMsg {
  text-align: center;
  padding-top: 15px;
  color: #1fa308;
}
